<body>
<nav class="navbar navbar-expand-lg">
  <div class="navbar-container container">
    <input type="checkbox" name="" id="">
    <div class="hamburger-lines">
      <span class="line line1"></span>
      <span class="line line2"></span>
      <span class="line line3"></span>
    </div>
    <ul class="menu-items">
      <li><a routerLink="/" class="nav-link">Homepage</a></li>
      <li><a routerLink="food" class="nav-link">Food Menu</a></li>
      <li><a routerLink="new" class="nav-link">New Dish</a></li>
      <li><div class="nav-link">Time : {{time}} s</div></li>
    </ul>
    <h1 class="logo">EGGCITED</h1>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-12 mt-75">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
